= javascript_include_tag "weather"

/ Common.
= render "marionette/common/common_loading"
= render "marionette/common/common_no_data"

/ WeatherLayout.
= render 'marionette/weather/weather_layout'

/ Tile.
= render 'marionette/tile/tile'
